
#
# Be sure to run:
#
#		ln -s docker-compose.override.yml.sample docker-compose.override.yml 
#
# ...if you want this file to be used.
#
services:
  logs:
    logging:
      driver: loki
      options:
        loki-url: http://host.docker.internal:3100/loki/api/v1/push

  ping:
    #environment:
      #HOSTS: "google.com amazon.com google-dns cloudflare-dns "
    logging:
      driver: loki
      options:
        loki-url: http://host.docker.internal:3100/loki/api/v1/push

  promtail:
    logging:
      driver: loki
      options:
        loki-url: http://host.docker.internal:3100/loki/api/v1/push

  telegraf:
    logging:
      driver: loki
      options:
        loki-url: http://host.docker.internal:3100/loki/api/v1/push

  loki:
    logging:
      driver: loki
      options:
        loki-url: http://host.docker.internal:3100/loki/api/v1/push

  grafana:
    logging:
      driver: loki
      options:
        loki-url: http://host.docker.internal:3100/loki/api/v1/push



